<h2>upload</h2>
<form #uploadForm="ngForm" (ngSubmit)="submitForm($event, uploadForm.value)">
<p>
  <label>file:</label>
  <input type="file" placeholder="upload file..." name="file" ngModel />

</p>

<p>
  <label>title:</label>
  <input type="text" name="title" ngModel required />
</p>

<p>
  <label>description:</label>
  <input type="text" name="description" ngModel />
</p>

<p>
  <button type="submit" [disabled]="!uploadForm.valid">submit</button>
</p>
</form>