<nav>
  <ul>
    <li [hidden]="!this.loginService.logged">
      <a [routerLink] = "'/front'">Front page</a>
    </li>
    <li [hidden]="this.loginService.logged">
      <a [routerLink] = "'/login'">Login</a>
    </li>
    <li [hidden]="this.loginService.logged">
      <a [routerLink] = "'/register'">Register</a>
    </li>
      <li [hidden]="!this.loginService.logged">
      <a [routerLink] = "'/upload'">Upload</a>
    </li>
  </ul>
</nav>
